.clock{
	position: absolute;
	left: 340px;
	top:600px;
	
}
.clock h1{
	color: #fff;
	font-size: 80px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
.clock h2{
	color: #fff;
	font-size: 30px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
.famous{
	position: absolute;
	left: 330px;
	top:760px;
	color: #fff;
	font-size: 16px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
	width: 480px;
	line-height: 1.4;
	word-break: break-all;
	cursor: default;
	padding: 12px 16px;
	border-radius: 16px;
	transition: all .2s linear;
	margin-top: 4px;
}
.famous:hover{
	background: rgba(255,255,255,.2);
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.theme-change{
	position: absolute;
	left: 350px;
	top:880px;
	cursor: pointer;
	z-index: 9000;
}
.theme-change .icon-change-theme{
	font-size: 20px;
	opacity: .8;
}
.icon{
	color: rgba(255,255,255,.8);
}
.icon:active{
	color: rgba(255,255,255,1);
}
.theme-change span,.theme-change .icon-change-theme{
	vertical-align: middle;
	opacity: .8;

}
.theme-change:hover span{
	opacity: 1;
}

.icon-change-theme{
	position: relative;
	z-index: 600;
}

.card-group{
	width: 280px;
	align-content: flex-start !important;
}
.card-warp{
	display: flex;
	flex-direction: column;
}
.card{
	height: 56px;
	margin: 8px !important;
	margin-top:-100px;
}
.card-group {
	display: flex;
	justify-content: center;
}
.card-group1 {
	display: flex;
	justify-content: center;
}
.card1{
	background: linear-gradient(-45deg, #92FE9D, #00C9FF) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.card2{
	background: linear-gradient(-45deg, #E83358, #FD62C2) !important;  /* Chrome 10-25, Safari 5.1-6 */
}
.card3{
	background: linear-gradient(-45deg, #8153CE, #DD5BE4) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.card4{
	background: linear-gradient(-45deg, #2c3e50, #3498db) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.card5{
	background: linear-gradient(-45deg, #ee9ca7, #ffdde1) !important;  /* Chrome 10-25, Safari 5.1-6 */
}
.card6{
	background: linear-gradient(-45deg, #F1F2B5, #135058) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.card7{
	background: linear-gradient(-45deg, #D1913C, #FFD194) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.card8{
	background: linear-gradient(-45deg, #7b4397, #dc2430) !important;  /* Chrome 10-25, Safari 5.1-6 */
}
.card9{
	background: linear-gradient(-45deg, #8e9eab, #eef2f3) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.card10{
	background: linear-gradient(-45deg, #136a8a, #267871) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.card11{
	background: linear-gradient(-45deg, #00bf8f, #001510) !important;  /* Chrome 10-25, Safari 5.1-6 */
}
.card12{
	background: linear-gradient(-45deg, #C9FFBF, #FFAFBD) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.cardimg1{
	width: 120px;
	height: 96px;
	background: url(../../bgimages/1.jpg) no-repeat !important;
	background-size: cover !important;
}
.cardimg2{
	width: 120px;
	height: 96px;
	background: url(../../bgimages/2.jpg) no-repeat !important;
	background-size: cover !important;
}
.cardimg3{
	width: 120px;
	height: 96px;
	background: url(../../bgimages/3.jpg) no-repeat !important;
	background-size: cover !important;
}
.cardimg4{
	width: 120px;
	height: 96px;
	background: url(../../bgimages/4.jpg) no-repeat !important;
	background-size: cover !important;
}
.cardimg5{
	width: 120px;
	height: 96px;
	background: url(../../bgimages/5.jpg) no-repeat !important;
	background-size: cover !important;
}
.cardimg6{
	width: 120px;
	height: 96px;
	background: url(../../bgimages/6.jpg) no-repeat !important;
	background-size: cover !important;
}
.cardimg7{
	width: 120px;
	height: 96px;
	background: url(../../bgimages/7.jpg) no-repeat !important;
	background-size: cover !important;
}
.cardimg8{
	width: 120px;
	height: 96px;
	background: url(../../bgimages/8.jpg) no-repeat !important;
	background-size: cover !important;
}
.card-warp h5{
	position: relative;
	top:-10px;
  }
  .card-group~h5{
	  position: relative;
	  top:10px;
  }