

.sidebar-bg{
	background: rgba(0,0,0,0.3);
	height:100vh;
	min-width: 262px;
	max-width: 382px;
	display: flex;
	align-content: center;
	padding: 16px;
	box-sizing: border-box;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	z-index: 100;
	/* overflow-y: scroll; */
}
.logo{
	margin-top: 20px;
	font-family: AvenirWindows, "Segoe UI", Arial, sans-serif;
	color: #fff;
	font-size: 38px;
	font-style: italic;
	text-align: center;
	
}
.logo>i{
	color: #01DFF0;
}
.projects{
	margin-top: 28px;
	margin-bottom: 10px;
	position: relative;
	color: #fff;
	font-family: AvenirWindows, "Segoe UI", Arial;
	cursor: default;
	cursor: pointer;
}
.arrow{
	visibility: hidden !important;
}
.projects:hover .arrow{
	visibility:visible !important;
}
.projects>div{
	font-size: 20px;
	display: inline-block;
	margin-right: 6px;
	vertical-align: center;
}
.projects>.icon-jiantou-copy {
	font-size: 8px !important;
	vertical-align: center;
	display: none;	
}
	

.list li {
	position: relative;
	height: 50px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
}
.list li:hover .icon2{
	visibility: visible;
}
svg{
	width: 38px;
	vertical-align: center;
	margin-right: 18px;
	
}
.icon{
	font-size: 36px;
}

li div{
	font-size: 20px;
	color: #fff;
	position: relative;
	top:-2px;
	margin-right: 90px;
	
}
.add{
	cursor: pointer;
}
.icon-add{
	font-size: 40px;
}
.icon-add,span{
	vertical-align: middle;
	color: #fff;
}

.modal-header.header{
	font-family: 'HelveticaNeuec9ae47ace519e', "Segoe UI", Arial, sans-serif !important;
	font-weight: normal !important;
	font-size: 24px !important;
	margin-bottom: 6px !important;
	padding: 8px 0 8px 0 !important;
}
.modal-descript{
	margin-bottom: 16px !important;
	color:grey;
}
.input-description{
	margin-bottom: 24px !important;
}
.selected-icon{
	margin-right: 10px !important;
}
.project-item:hover .selected-icon{
	color: #01DFF0;
}
.link{
	display:flex;
	align-content: center;
	justify-content: space-between;
}
.link .icon2{
	position: absolute;
	right:0px;
	top:0px;
	visibility: hidden;	
}
.link .selected-icon{
	position: relative;	
	top:-1px;
}
.project-name{
	top:-10px;
}