.side-menu {
	position: absolute;
	right: 5%;
	top: 20px;
	.icon {
		margin: 0;
		font-size: 30px;
		vertical-align: middle;
		margin-right: 12px;
		vertical-align: middle;
		cursor: pointer;
		fill: currentColor;
	}
	.icon-add {
		font-size: 36px;
		vertical-align: middle
	}
	.icon-fengexian {
		font-size: 20px;
		color: #fff;
		position: relative;
		top: 8px;
	}
	.icon-search {
		font-size: 26px;
		color: #fff;
		position: relative;
		top: 6px;
		margin-right: 24px;
	}
	.flexlist {
		display: flex;
		align-content: center;
	}
}

.icon:hover {
	opacity: .8;
}

.icon:active {
	opacity: 1;
}

.section-tab {
	width: 330px;
	border: 1px solid #fff;
	border-radius: 8px;
	height: 34px;
	display: flex;
	justify-content: space-between;
}

.overflow {
	height: 100%;
	width: 110px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.overflow1 {
	height: 100%;
	width: 110px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.icon-menu {
	position: relative;
	height: 100%;
	width: 110px;
	border-right: 1px solid #fff;
	cursor: pointer;
	overflow: hidden;
	box-sizing: border-box;
	&:nth-child(3) {
		border-right: none;
	}
	&:hover .overflow {
		background: #00AAFF;
	}
	&:nth-child(3):hover .overflow1 {
		background: #00AAFF;
	}
	&:nth-child(2):hover {
		background: #00AAFF;
	}
	.icon-tab {
		position: absolute;
		left: 50%;
		transform: translateX(-50%)
	}
	.icon-tab:nth-child(1) {
		font-size: 30px;
		position: relative;
		top: 0px;
	}
}

.user-entry {
	height: 26px !important;
	position: relative;
	top: 4px;
	left: 16px;
}

.notifications {
	position: absolute;
	right:9%;
	top:28px;
}

.header {
	color: #fff;
	font-size: 18px !important;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	font-family: Arial, Helvetica, sans-serif;
	margin: 18px !important;
}

.icon-lingdang {
	font-size: 160px !important;
	margin-left: 120px !important;
}

.notify {
	color: #fff;
	font-size: 18px;
	margin: 10px 90px;
}

.avatr {
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50% !important;
}

.card-sigin {
	height: 240px;
	width: 100px;
}

.header-name {
	position: relative;
	top: -8px;
	font-size: 24px;
}