.header.container {
	background: #FFFFFF;
	height: 60px;
	box-sizing: border-box;
	position: relative;
	z-index: 1;
	box-shadow: 0  0  1px 1px rgba(0,0,0,.2) !important;
	margin: 0 !important;
	display: flex;
	justify-content: space-between;
	align-content: center  !important;
	
	section{
		display: flex;
	}
	.logo{
		font-weight: normal;
		color: #222526;
		margin-left: 16px;
		text-shadow: 0 0 1px 2px #303030;
		margin-right: 16px;
		line-height: 20px;
	}
	.vertical-line{
		box-sizing: border-box;
		width: 1px;
		height: 100%;
		background:rgba(0,0,0,0.08);
	}
	.avatar{
		margin-top:12px;
		margin-left: 16px;
	}
	.down.arrow{
		color: #8A9499;
		visibility: visible !important;
		font-size: 14px;
		margin-left: 2px;
		margin-right: 12px;
	}
	.username{
		color: #8A9499;
		font-weight: normal;
		line-height: 60px;
		margin-left: 12px;
		cursor: pointer;
		&:hover{
			color: #01DFF0
		}
	}
	.github{
		animation: sizesetInterval  4s linear 0s infinite alternate;
		margin-top: 18px;
		font-size: 32px;
		margin-left: 12px;
	}
	

}
.righr-part{
	.icon{
		color:#9E9E9E !important;
		font-size: 32px !important;
		margin-top: 14px;
		margin-left: 14px;
		font-weight: normal;
		cursor: pointer;	
	}
	.icon.icon-add{
		color:#9E9E9E !important;	
	}
	.icon-search{
		position: relative;
		top:-2px;
		font-size: 38px !important;
	}		
	.icon-text{
		margin-right: 36px;
	}
}
.logout{
	height: 28px !important;
	margin-top: 16px !important;
	position: relative;
	right: 16px;
}
.popup.project-search {
	margin-top: 0 !important;
	height: 240px !important;
	.header{
		margin: 0 0 12px 0 !important;
	}
	.content{
		padding: 0
	}	
}
.tastwarp{
	display: flex;
	justify-content: flex-start;
	height: calc(100% - 60px) !important;
    background: linear-gradient(-45deg, #92FE9D, #00C9FF)!important;	
}
.tastbar{
	width: 320px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;		
	align-content: center;	
	.tastbar-header{
		height: 50px;
		display: flex;
		align-items:center;		
		justify-content:space-around;
		.arrow1{
			color: #fff !important;
			visibility: hidden;
			cursor: pointer;
		}
		&:hover .arrow1{
			visibility: visible;
		}
		p{
			font-size: 24px;
			color: #fff;
			margin: 0;
		}
	}
	.icon-color{
		color:#fff;
}
    .tips{
		position: absolute;
		transform: translate(-50%,-50%);
		left: 50%;
		top:50%;
		text-align: center;
		.icon-kong2-copy{
		font-size: 120px;
		margin-right: 0;
	}
	p{
		color: #fff;
		font-size: 22px;
		text-align: center;
	}
	p.notice{
		font-size: 16px;
		color: #fff;
	}
	}
  .circle-add{
	  position: absolute;
	  left: 50%;
	  top:70px;
	  transform: translateX(-50%);
	  width: 28px;
	  height: 28px;
	  background: #fff;
	  border-radius: 50%;
	  box-shadow: 0 0 1px 2px rgba(0,0,0,.1);
	  cursor: pointer;
	  &:hover{
		  background: #e7e7e7;
	  }
	  &::before{
		  content: '';
		  position: absolute;
		  height: 2px;
		  width: 12px;
		  background: #8A9499;
		  left: 8px;
		  top:14px;
		  border-radius: 1px;
	  }
	  &::after{
		  content: '';
		  position: absolute;
		  height: 12px;
		  width: 2px;
		  background: #8A9499;
		  left: 13px;
		  top:9px;
		  border-radius: 1px;
	  }
  }


}
@keyframes sizesetInterval{
	0% {font-size: 32px;color:#04CAFC}
	20% {font-size: 36px;color:#28D8E4}
	50% {font-size: 38px;color:#51E6C9}
	70% {font-size: 36px;color:#6AEFB8}
	100% {font-size: 32px;color:#8EFCA0}

}
.animate-input{
	width: 290px;
	height: 48px;
	outline: none;
	border: none;
	border-radius: 8px;
	box-shadow: 0px 1px 1px 0px rgba(130,145,153,0.5), 0 0 1px rgba(23,25,26,0.2);
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top:100px;
	padding: 10px;
	
}
@keyframes inputainmate{
	0% {width: 0;height: 0;display: none}
	25% {width: 75px;height: 12px}
	50% {width: 150px;height: 24px;outline:1px solid #00A8FF}
	75% {width: 225px;height: 36px;outline:1px solid #00A8FF}
	100% {width: 290px;height: 48px;display: block}
}