.header.container {
	background: #FFFFFF;
	height: 60px;
	box-sizing: border-box;
	position: relative;
	z-index: 1;
	box-shadow: 0  0  1px 1px rgba(0,0,0,.2) !important;
	margin: 0 !important;
	display: flex;
	justify-content: space-between;
	align-content: center  !important;
	
	section{
		display: flex;
	}
	.logo{
		font-weight: normal;
		color: #222526;
		margin-left: 16px;
		text-shadow: 0 0 1px 2px #303030;
		margin-right: 16px;
		line-height: 20px;
	}
	.vertical-line{
		box-sizing: border-box;
		width: 1px;
		height: 100%;
		background:rgba(0,0,0,0.08);
	}
	.avatar{
		margin-top:12px;
		margin-left: 16px;
	}
	.down.arrow{
		color: #8A9499;
		visibility: visible !important;
		font-size: 14px;
		margin-left: 2px;
		margin-right: 12px;
	}
	.username{
		margin-right: 10px;
		color: #8A9499;
		font-weight: normal;
		line-height: 60px;
		margin-left: 12px;
		cursor: pointer;
		&:hover{
			color: #01DFF0
		}
	}
	.github{
		animation: sizesetInterval  4s linear 0s infinite alternate;
		margin-top: 18px;
		font-size: 32px;
		margin-left: 12px;
	}
	

}
.righr-part{
	.icon{
		color:#9E9E9E !important;
		font-size: 32px !important;
		margin-top: 14px;
		margin-left: 14px;
		font-weight: normal;
		cursor: pointer;	
	}
	.icon.icon-add{
		color:#9E9E9E !important;	
	}
	.icon-search{
		position: relative;
		top:-2px;
		font-size: 38px !important;
	}		
	.icon-text{
		margin-right: 36px;
	}
}
.logout{
	height: 28px !important;
	margin-top: 16px !important;
	position: relative;
	right: 16px;
}
.popup.project-search {
	margin-top: 0 !important;
	.header{
		margin: 0 0 12px 0 !important;
		height: auto;
	}
	.content{
		padding: 0;
		cursor: pointer;
	}	
	.card{
		height: auto;
	}

}
.popup.project-search::after{
	content: '';
	display: block;
	clear: both;
}
.clear-border{
	min-height: 200px !important;
	height: 100%;
}
.tastwarp1{
	display: flex;
	justify-content: flex-start;
	height: calc(100% - 60px) !important;
	background: linear-gradient(-45deg, #92FE9D, #00C9FF) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
}
.tastwarp2{
	display: flex;
	justify-content: flex-start;
	height: calc(100% - 60px) !important;
	background: linear-gradient(-45deg, #E83358, #FD62C2) !important;  /* Chrome 10-25, Safari 5.1-6 */
}
.tastwarp3{
	display: flex;
	justify-content: flex-start;
	height: calc(100% - 60px) !important;
	background: linear-gradient(-45deg, #8153CE, #DD5BE4) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
}
.tastwarp4{
	display: flex;
	justify-content: flex-start;
	height: calc(100% - 60px) !important;
	background: linear-gradient(-45deg, #2c3e50, #3498db) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
}
.tastwarp5{
	display: flex;
	justify-content: flex-start;
	height: calc(100% - 60px) !important;
	background: linear-gradient(-45deg, #ee9ca7, #ffdde1) !important;  /* Chrome 10-25, Safari 5.1-6 */
	
}
.tastwarp6{
	display: flex;
	justify-content: flex-start;
	height: calc(100% - 60px) !important;
	background: linear-gradient(-45deg, #F1F2B5, #135058) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
}
.tastwarp7{
	display: flex;
	justify-content: flex-start;
	height: calc(100% - 60px) !important;
	background: linear-gradient(-45deg, #D1913C, #FFD194) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
}
.tastwarp8{
	display: flex;
	justify-content: flex-start;
	height: calc(100% - 60px) !important;
	background: linear-gradient(-45deg, #7b4397, #dc2430) !important;  /* Chrome 10-25, Safari 5.1-6 */
	
}
.tastwarp9{
	display: flex;
	justify-content: flex-start;
	height: calc(100% - 60px) !important;
	background: linear-gradient(-45deg, #8e9eab, #eef2f3) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
}
.tastwarp10{
	display: flex;
	justify-content: flex-start;
	height: calc(100% - 60px) !important;
	background: linear-gradient(-45deg, #136a8a, #267871) !important;	
}
.tastwarp11{
	display: flex;
	justify-content: flex-start;
	height: calc(100% - 60px) !important;
	background: linear-gradient(-45deg, #00bf8f, #001510) !important;  /* Chrome 10-25, Safari 5.1-6 */
}	

.tastwarp12{
	display: flex;
	justify-content: flex-start;
	height: calc(100% - 60px) !important;
	background: linear-gradient(-45deg, #C9FFBF, #FFAFBD) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
}
.tastwarpimg1{
	display: flex;
	justify-content: flex-start;
	height: calc(100% - 60px) !important;
	background: url(./../bgimages/1.jpg) no-repeat !important;
	background-size: cover !important;
}
.tastwarpimg2{
	display: flex;
	justify-content: flex-start;
	height: calc(100% - 60px) !important;
	background: url(./../bgimages/2.jpg) no-repeat !important;
	background-size: cover !important;	
	
}
.tastwarpimg3{
	display: flex;
	justify-content: flex-start;
	height: calc(100% - 60px) !important;
	background: url(./../bgimages/3.jpg) no-repeat !important;
	background-size: cover !important;	
	
}
.tastwarpimg4{
	display: flex;
	justify-content: flex-start;
	height: calc(100% - 60px) !important;
	background: url(./../bgimages/4.jpg) no-repeat !important;
	background-size: cover !important;	
}
.tastwarpimg5{
	display: flex;
	justify-content: flex-start;
	height: calc(100% - 60px) !important;
	background: url(./../bgimages/5.jpg) no-repeat !important;
	background-size: cover !important;	
}
.tastwarpimg6{
	display: flex;
	justify-content: flex-start;
	height: calc(100% - 60px) !important;
	background: url(./../bgimages/6.jpg) no-repeat !important;
	background-size: cover !important;	
}
.tastwarpimg7{
	display: flex;
	justify-content: flex-start;
	height: calc(100% - 60px) !important;
	background: url(./../bgimages/7.jpg) no-repeat !important;
	background-size: cover !important;	
}
.tastwarpimg8{
	display: flex;
	justify-content: flex-start;
	height: calc(100% - 60px) !important;
	background: url(./../bgimages/8.jpg) no-repeat !important;
	background-size: cover !important;	
}
.tastbar{
	overflow-y: hidden;	
	max-width: 320px;
	flex-grow: 1;
	height:100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;		
	align-content: center;
	display: inline-block;	
	.tastbar-header{
		height: 50px;
		display: flex;
		align-items:center;		
		justify-content:space-around;
		.arrow1{
			color: #fff !important;
			visibility: hidden;
			cursor: pointer;
		}
		&:hover .arrow1{
			visibility: visible;
		}
		p{
			font-size: 24px;
			color: #fff;
			margin: 0;
		}
	}
	.icon-color{
		color:#fff;
		position: relative;
		left: 14px;
}
  
	p{
		color: #fff;
		font-size: 22px;
		text-align: center;
	}
	p.notice{
		font-size: 16px;
		color: #fff;
	}
	}



.circle-add{
	position: absolute;
	left: 50%;
	top:70px;
	transform: translateX(-50%);
	width: 28px;
	height: 28px;
	background: #fff;
	border-radius: 50%;
	box-shadow: 0 0 1px 2px rgba(0,0,0,.1);
	cursor: pointer;
	&:hover{
		background: #e7e7e7;
	}
	&::before{
		content: '';
		position: absolute;
		height: 2px;
		width: 12px;
		background: #8A9499;
		left: 8px;
		top:14px;
		border-radius: 1px;
	}
	&::after{
		content: '';
		position: absolute;
		height: 12px;
		width: 2px;
		background: #8A9499;
		left: 13px;
		top:9px;
		border-radius: 1px;
	}
}
@keyframes sizesetInterval{
	0% {font-size: 32px;color:#04CAFC}
	20% {font-size: 36px;color:#28D8E4}
	50% {font-size: 38px;color:#51E6C9}
	70% {font-size: 36px;color:#6AEFB8}
	100% {font-size: 32px;color:#8EFCA0}

}
.animate-input{
	color: #000 !important;
	font-size: 14px;
	position: absolute;
	height: 48px;
	max-width: 290px;
	outline: none;
	border: none;
	border-radius: 8px;
	box-shadow: 0px 1px 1px 0px rgba(130,145,153,0.5), 0 0 1px rgba(23,25,26,0.2);
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top:100px;
	padding: 10px;
	background-color: #fff
}
@keyframes inputainmate{
	0% {width: 0;height: 0;display: none}
	25% {width: 75px;height: 12px}
	50% {width: 150px;height: 24px;outline:1px solid #00A7FF}
	75% {width: 225px;height: 36px;outline:1px solid #00A8FF}
	100% {width: 290px;height: 48px;display: block}
}
.label.ribbon{
	position: absolute !important ;
    
}
.modalsure{
	background:url("./done.svg") right center  no-repeat;
	background-size:84px 84px;
	background-color: #fff;
}
.list-button{
	background: none !important;
	border: none !important;
	outline: none !important;
	font-size: 18px !important;
	line-height: 1.2
}
.list-button:hover{
	background: #00AAFF !important;
	color: #fff !important;
}
.tips{
	position: absolute;
	transform: translate(-50%,-50%) !important;
	left: 50%;
	top:50%;
	text-align: center;
	.icon-kong2-copy{
	font-size: 120px;
	margin-right: 0;
}}
.addgroup{
	position: relative;
}
.bg{
	background:rgba(0,0,0,0.1)
}
.addwarp{
	display: inline-flex;
	font-size: 0;
	flex-grow: 3;
	justify-content: flex-start;
}
// .fixadd{
//    position: absolute;
//    left: 50%;
//    transform: translateX(-50%)

// }